page-add-captor {

ion-title {
	font-family: 'Arial-Bold';
	padding-top : 35px;
	font-style: #5F5E64;
}

.message {
	width: 279px;
	height: 434px;
	position: relative;
	background-color: white;
	background-size: 100% 100%;
	margin: auto;
	margin-top: 30px;
	border-radius: 6px;
}

.check {
	height: 250px;
	width: 100%;
}

.choix {
	height: 184px;
	width: 100%;
}

.check_img {
	width: 120px;
	height: 86px;
	position: relative;
	margin: auto;
	padding-top: 90px;
}

.texte {
	font-family: 'Arial';
	font-size: 14px;
	text-align: center;
}

.box {
	width: 100%;
	height: 80px;
	margin-top: 40px;
	position: relative;
	margin-left: 72px;
}

.no {
	background-repeat: no-repeat;
	height: 60px;
	width: 60px;
	float: left;
}


.yes {
	background-repeat: no-repeat;
	height: 60px;
	width: 60px;
	margin-left: 80px;
}


}

