<ion-header>
  
    <ion-title>MON CAPTEUR</ion-title>
 
</ion-header>

<ion-content>

	<div class="pageAddCaptor">

		<div class="message">

			<div class="check">
				<div class="check_img">
					<img src="assets/imgs/captor.png"/>
				</div>
			</div>

			<div class="choix">
				<div class="texte">
					Ajouter un capteur ?
				</div>

				<div class="box">
					<div class="no" (tap)="go_back()">
						<img src="assets/imgs/no.png"/>
					</div>
					<div class="yes" (tap)="scan()">
						<img src="assets/imgs/yes.png"/>
					</div>
				</div>	
			</div>
		</div>


		<ion-card>
	   		<button ion-item *ngFor="let device of devices" (click)="deviceSelected(device)">
	    	<h2>{{ device.name || 'Unnamed' }}</h2>
	  	 	</button>  
	  	</ion-card>
 

	</div>



</ion-content>
