<ion-tabs selectedIndex="1">
  <ion-tab [root]="tab1Root" tabIcon="apps"></ion-tab>
  <ion-tab [root]="tab2Root" tabIcon="rose" ></ion-tab>
  <ion-tab [root]="tab3Root" tabIcon="search"></ion-tab>
</ion-tabs>
