page-profil {

.toolbar-title-md{
  font-family: 'Arial-Bold';
  font-size: 1.2em;
}

.page {
  height: 100%;
  width: 100%;
}

.user{
  width: 100%;
  height: 15%;
  padding-left: 10%;
}
.img_user{
  height: 82px;
  width: 82px;
  float: left;
  margin-left: 42px;
}

.user_level {
  width: 100%;
  height: 100%;
  padding-left: 40%;
}

  .name {
    color: #5af85c;
    font-family: 'Helvetica Neue';
    font-size: 1.5em;
    height: 20%;
    width: 100%;
    padding-top: 5%;
  }

.level{
  height: 35%;
  width: 100%;
}
  .level h3{
    color: #707070;
    font-family: 'Helvetica Neue';
    font-size: 1.2em;
  }

.level h4{
  color: #707070;
  font-family: 'Helvetica Neue';
  font-size: 1em;
  padding-bottom: 10%;
}

  .level_bar{
    font-family: "Helvetica Neue";
    font-size: 6px;
    padding-top: 3px;
  }

  .load-bar{
    height: 6px;
    width: 100px;
  }

  progress-bar .progress-outer {
    width: 100px;
    margin-top: 1px;
    text-align: center;
    border: 1px solid #F9F9F9;
    color: #fff;
  }

  progress-bar .progress-inner {
    min-width: 0%;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    border-radius: 20px;
    background-color: #8BFA8C;
  }


.carte{
  width: 100%;
  height: 19%;
  margin-top: 2%;
}


//creation images

.img1{
  background-image: url('../assets/imgs/contact_defis.png');
  background-size: 100% 100%;
  height: 19%;
  width: 100%;
  position: absolute;
}

.img2{
  background-image: url('../assets/imgs/contact_rec.png');
  background-size: 100% 100%;
  height: 19%;
  width: 100%;
  position: absolute;
}

.img3{
  background-image: url('../assets/imgs/contact_compte.png');
  background-size: 100% 100%;
  height: 19%;
  width: 100%;
  position: absolute;
}

.img4{
  background-image: url('../assets/imgs/contact_parametre.png');
  background-size: 100% 100%;
  height: 19%;
  width: 100%;
  position: absolute;
}

  //gestion textes
  .text_left{
    position: relative;
    font-family: 'Helvetica Neue';
    font-size: 1.6em;
    color: #FFF;
    padding-top: 15%;
    padding-left: 6%;
  }

  .text{
    font-size: 1.6em;
    color: #FFF;
    position: relative;
  }

  .text_right{
    position: relative;
    font-family: 'Helvetica Neue';
    font-size: 1.6em;
    color: #FFF;
    padding-left: 70%;
    padding-top: 15%;

  }

  .text_right2{
    position: relative;
    font-family: 'Helvetica Neue';
    font-size: 1.6em;
    color: #FFF;
    padding-top: 15%;
    padding-left: 50%;
  }




}