<ion-header>
  <ion-navbar color="white" >
    <ion-title>MON PROFIL</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="page">

    <div class="user">
      <img src="assets/imgs/jon_snow.png" class="img_user"/>

      <div class="user_level">
        <h1 class="name"> Stytti </h1>
        <div class="level">
          <h3>Apprenti jardinier</h3>
          <h4>Niveau 1</h4>
        </div>
      </div>
    </div>


    <div class="carte" (tap)="defi_page()">
      <div class="img1"></div>
      <div class="text_left"> MES DEFIS </div>
    </div>

    <div class="carte" (tap)="capteurs_page()">
      <div class="img2"></div>
      <div class="text_right">MES BOX</div>

    </div>

      <div class="carte" (tap)="compte_page()">
        <div class="img3"></div>
        <div class="text_left"> MON COMPTE </div>
      </div>

      <div class="carte" (tap)="setting_page()">
        <div class="img4"></div>
        <div class="text_right2">MES PARAMETRES</div>
      </div>


  </div>


</ion-content>