<ion-header> 
  	<div class="en_tete">
  		<div class="back_button">
  			<ion-icon name="arrow-back" (tap)="go_back()"></ion-icon>
		</div>
  		<div class="titre">Notifications</div>
  	</div>
</ion-header>


<ion-content>

	<ion-card>
      <ion-card-header>
        Conseils (arrosage, ...)
      </ion-card-header>
      <ion-card-content>
        <ion-toggle checked="true"></ion-toggle>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Actualités
      </ion-card-header>
      <ion-card-content>
        <ion-toggle checked="true"></ion-toggle>
      </ion-card-content>
    </ion-card>
    <ion-card>

      <ion-card-header>
        Offres promotionnelles
      </ion-card-header>
      <ion-card-content>
        <ion-toggle checked="true"></ion-toggle>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Gamification
      </ion-card-header>
      <ion-card-content>
        <ion-toggle checked="true"></ion-toggle>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
       	Suivi de commande
      </ion-card-header>
      <ion-card-content>
        <ion-toggle checked="true"></ion-toggle>
      </ion-card-content>
    </ion-card>

</ion-content>
