page-notif {

.en_tete {
	background-image: url(/assets/imgs/degrade.png);
	background-size: 100% 100%;
	height: 200px;
	width: 100%;
	position: relative;
}

.back_button {
	margin-left: 10px;
	padding-top: 40px;
	color: white;
}

.titre{
	position: absolute;
	width: 141px;
	height: 42px;
	font-family: 'Arial-Bold';
	font-size: 19px;
	color: white;
	margin-left: 45px;
	padding-top: 8px;
}

ion-icon {
	font-size: 1.6em;
}

.toggle-md {
	padding: 19px;
    padding-left: 80px;
}

.card-content-md {
	height: 100%;
	width: 150px;
	float: right;
	font-family: 'Arial';
	color: #5F5E64;
	background-color: #F9F9F9;
}

.card-md {
	border-radius: 6px;
	margin-top: 20px;
	box-shadow:0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
	-webkit-box-shadow:0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
}

.card-header-md{
	height: 100%;
	width: 242px;
	float: left;
	font-family: 'Arial';
	color: #5F5E64;
	padding-top: 19px;
	background-color: #F9F9F9;
}

ion-card {
	height: 56px;
	width: 100%;
	background-color: #F9F9F9;
}

}
