page-aides {

.page {
	height: 100%;
	width: 100%;
	padding-left: 41px;
	padding-right: 41px;
}

.en_tete {
	background-image: url(/assets/imgs/degrade.png);
	background-size: 100% 100%;
	height: 200px;
	width: 100%;
	position: relative;
}

.back_button {
	margin-left: 10px;
	padding-top: 40px;
	color: white;
}

.titre{
	position: absolute;
	width: 181px;
	height: 42px;
	font-family: 'Arial-Bold';
	font-size: 20px;
	color: white;
	margin-left: 45px;
	padding-top: 8px;
}

ion-icon {
	font-size: 1.6em;
}

p {
	font-family: 'Arial';
	font-size: 14px;
	line-height: 26px;
	color: #5F5E64;
}



}
