@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ucsw7n');
  src:  url('fonts/icomoon.eot?ucsw7n#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ucsw7n') format('truetype'),
    url('fonts/icomoon.woff?ucsw7n') format('woff'),
    url('fonts/icomoon.svg?ucsw7n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Feuille:before {
  content: "\e900";
}
.icon-Menu:before {
  content: "\e902";
  color: #5f5e64;
}
.icon-Feed:before {
  content: "\e903";
  color: #fff;
}
