<ion-header>
  <ion-navbar color="white">
    <ion-title>PARAMETRE</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div class="page">

    <ion-item>
      <ion-label>Tutoriel</ion-label>
      <ion-toggle checked="true"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Notifications</ion-label>
      <ion-toggle checked="true"></ion-toggle>
    </ion-item>

    <ion-footer>
      <ion-toolbar>
        <button ion-button full outline>Termes d'utilisation</button>
        <button ion-button full outline>Aide</button>
        <button ion-button full outline (tap)="disconnect()">Déconnexion</button>
      </ion-toolbar>
    </ion-footer>






    <ion-card class="temp">
      <ion-card-header>
        Température
      </ion-card-header>
      <ion-card-content>
       <button ion-button color="green_button">C°</button>
       <button ion-button color="white">F°</button>
      </ion-card-content>
    </ion-card>

    <ion-card class="water">
      <ion-card-header>
        Volume d'eau
      </ion-card-header>
      <ion-card-content>
       <button ion-button color="green_button">ft</button>
       <button ion-button color="white">cm</button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Taux de fertilisants
      </ion-card-header>
      <ion-card-content>
       <button ion-button color="green_button">%</button>
       <button ion-button color="white">cm2</button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Ensoleillement
      </ion-card-header>
      <ion-card-content>
        <ion-toggle checked="true"></ion-toggle>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Collecte de statistiques
      </ion-card-header>
      <ion-card-content>
        <ion-toggle checked="true"></ion-toggle>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Tutoriel
      </ion-card-header>
      <ion-card-content>
        <ion-toggle checked="true"></ion-toggle>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Langues
        </ion-card-header>
        <ion-card-content>
          <button ion-button color="green_button" class="french" outline >Français<ion-icon name="ios-arrow-down" class="arrow_down"></ion-icon></button>
        </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Notifications
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="md-arrow-forward" color="green_button" (tap)="notif()"></ion-icon>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Termes d'utilisation
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="md-arrow-forward" color="green_button" (tap)="termes()"></ion-icon>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Aide
      </ion-card-header>
      <ion-card-content>
       <ion-icon name="md-arrow-forward" color="green_button"
       (tap)="aides()"></ion-icon>
      </ion-card-content>
    </ion-card>

    <ion-buttons>
      <button ion-button color="danger"> Se déconnecter </button>
    </ion-buttons>



  </div>

</ion-content>

