page-set {

.toolbar-md-white .toolbar-title-md {
	color: #5F5E64;
}

.page {
	height: 100%;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 30px;
}

ion-card {
	height: 56px;
	width: 100%;
	background-color: #F9F9F9;
}

.card-md {
	border-radius: 6px;
	margin-top: 20px;
	box-shadow:0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
	-webkit-box-shadow:0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
}

.card-header-md{
	height: 100%;
	width: 200px;
	float: left;
	font-family: 'Arial';
	color: #5F5E64;
	padding-top: 19px;
	background-color: #F9F9F9;
}

.button-md{
	height: 34px;
	width: 53px;
	border-radius: 4px;
	margin-top: 10px;
	box-shadow:0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
	-webkit-box-shadow:0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
}

.card-content-md {
	height: 100%;
	width: 162px;
	float: right;
	font-family: 'Arial';
	color: #5F5E64;
	background-color: #F9F9F9;
	
}

.button-md-green_button {
	color: #FFF;
}

.toggle-md {
	padding: 19px;
    padding-left: 80px;
}

.french{
	width: 108px;
	height: 37px;
	border-radius: 4px;
	background-color: #fff;
	margin-left: 8px;
}

ion-icon {
	padding-left: 94px;
    padding-top: 20px;
}

.arrow_down {
	padding-left: 10px;
}

.button-md {
	text-transform: none;
}
}
