page-home {

.page {
	height: 100%;
	width: 100%;
	padding-left: 35px;
	padding-right: 35px;
}

h1 {
	font-family: 'Gotham';
	font-size: 21px;
	color: #8BFA8C;
	float: left;
}

h3 {
	font-family: 'Gotham';
	font-size: 9px;
	color: #5F5E64;
	float: right;
	padding-top: 40px;
}

p {
	line-height: 24px;
}

.titre {
	width: 100%;
	height: 44px;
	align-content:center;
}

.description {
	width: 100%;
	height: 73px;
	font-family: 'Roboto-Light';
	margin-bottom: 8%;
}


.img1 {
	width: 100%;
	height: 170px;
	background-image: url('../assets/imgs/pate_pesto.png');
	background-size: 100% 100%;
}

.img2{
	width: 100%;
	height: 170px;
	background-image: url('../assets/imgs/plan_tomate.png');
	background-size: 100% 100%;
}

.img3{
	width: 100%;
	height: 170px;
	background-image: url('../assets/imgs/site_eywa.png');
	background-size: 100% 100%;
}

.img4{
	width: 100%;
	height: 170px;
	background-image: url('../assets/imgs/graine_germe.png');
	background-size: 100% 100%;
}

.partage {
	width: 100%;
	height: 50px;
}

.button-clear-md.activated{
	color: #8BFA8C;
	background-color: rgba(0, 0, 0, 0);
}

.button-md:active, .button-ios:active {
	color: #8BFA8C;
}

.row {
	float: left;
}

.swiper-pagination-bullet-active {
	background: #5F5E64;
}

}