<ion-header>
	<ion-navbar color="white" >
		<ion-title>ACTUALITES</ion-title>
		<ion-buttons>
			<button>
				<ion-icon ios="ios-person" md="md-person" (click)="profil()"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>


<ion-content>

	<div class="page">

		<div class="actu1"  *ngFor="let recette of listRecette">
			<div class="titre">
				<h1> {{recette.title}} </h1>
				<h3> RECETTE </h3>
			</div>

			<div class="description">
				<p>{{recette.description}}</p>
			</div>

			<div class="img1" (tap)="connexion()"></div>

			<div class="partage">
				<ion-row>
					<ion-col>
						<button ion-button icon-left clear small (tap)="colored()">
							<ion-icon [name]="liked ? 'heart':'heart-outline'"></ion-icon>
						</button>
					</ion-col>
				</ion-row>
			</div>
		</div>



		<div class="actu2" *ngFor="let tuto of listTuto">
			<div class="titre">
				<h1> {{tuto.title}} </h1>
				<h3> TUTO </h3>
			</div>

			<div class="description">
				<p>{{tuto.description}}</p>
			</div>

			<div class="img2"></div>

			<div class="partage">
				<ion-row>
					<ion-col>
						<button ion-button icon-left clear small (tap)="colored2()">
							<ion-icon [name]="liked2 ? 'heart':'heart-outline'"></ion-icon>
						</button>
					</ion-col>
				</ion-row>
			</div>
		</div>

		<div class="actu3" *ngFor="let actu of listActu">
			<div class="titre">
				<h1> {{actu.title}} </h1>
				<h3> ACTU </h3>
			</div>

			<div class="description">
				<p> {{actu.description}}</p>
			</div>

			<div class="img3"></div>

			<div class="partage">
				<ion-row>
					<ion-col>
						<button ion-button icon-left clear small (tap)="colored3()">
							<ion-icon [name]="liked3 ? 'heart':'heart-outline'"></ion-icon>
						</button>
					</ion-col>
				</ion-row>
			</div>
		</div>

		<div class="actu4" *ngFor="let tuto2 of listTuto">
			<div class="titre">
				<h1> {{tuto2.title}}</h1>
				<h3> TUTO </h3>
			</div>

			<div class="description ">
				<p>{{tuto2.description}}</p>
			</div>

			<div class="img4"></div>

			<div class="partage">
				<ion-row>
					<ion-col>
						<button ion-button icon-left clear small (tap)="colored4()">
							<ion-icon [name]="liked4 ? 'heart':'heart-outline'"></ion-icon>
						</button>
					</ion-col>
				</ion-row>
			</div>
		</div>

	</div>


</ion-content>


