<ion-header> 
  	<ion-navbar>
  		<div class="titre">RECHERCHER UNE RECETTE</div>
    </ion-navbar>
</ion-header>

<ion-content>
  <div class="page">

    <div class="recherche1"  *ngFor="let recette of listRecette">
      <div class="div">
        <div class="texte">
          <h5>{{recette.title}}</h5>
          <p>{{recette.description}}</p>
        </div>
      </div>
      <div class="img1">
        <ion-icon name="arrow-forward" class="forward"></ion-icon>
      </div>
    </div>


	</div>
</ion-content>
