page-search-recette-detail {


.toolbar-md-white .bar-button-default-md {
	color: white;
}

.page{
	padding-right: 19px;
	padding-left: 19px;
	height: 100%;
	width:100%;
	padding-bottom: 37px;
}

.en_tete {
	background-image: url('../assets/imgs/recherche_recette.png');
	background-size: 100% 100%;
	height: 200px;
	width: 100%;
	position: relative;
}

.titre{
	width: 100%;
	height: 100%;
	font-family: 'Arial-Bold';
	font-size: 1.2em;
	color: white;
	padding-left: 10%;
}

.back_button {
	margin-left: 10px;
	padding-top: 40px;
	color: white;
}

ion-icon {
	font-size: 2em;
}

.searchbar-md .searchbar-search-icon {
	left: 340px;
	background-image: url('../assets/imgs/search.png');
	top: 15px;
}

.searchbar-md .searchbar-input {
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
	-webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
	height: 48px;
	border: 1px solid #8BFA8C;
}

.searchbar-md {
	padding: 0;
	margin-top: 22px;
}

.recherche1 {
	width: 100%;
	height: 177px;
	padding-top: 10px;
}

.recherche2 {
	width: 100%;
	height: 177px;
	padding-top: 20px;
}

.recherche3 {
	width: 100%;
	height: 177px;
	padding-top: 30px;
}


.texte{
	width: 220px;
	height: 74px;
	padding-top: 28px;
	padding-left: 33px;
}

.div {
	width: 70%;
	height: 124px;
	position: absolute;
	background-image: url('../assets/imgs/degrade_small.png');
	background-size: cover;
	float: left;
}

h5 {
	font-family: 'Arial-Bold';
	font-size: 18px;
	color: #FFF;
	margin-top: 0rem;
    margin-bottom: 0rem;
}

p {
	font-family: 'Arial';
	font-size: 10px;
	color: #FFF;
	line-height: 15px;
}

.img1{
	height: 156px;
	background-image: url('../assets/imgs/pate_pesto02.png');
	background-size: 100% 100%;
	margin-left: 10px;
	margin-top: 12px;
}

.img2{
	height: 156px;
	background-image: url('../assets/imgs/tomate_ass.png');
	background-size: 100% 100%;
	margin-left: 10px;
	margin-top: 12px;
}

.img3{
	height: 156px;
	background-image: url('../assets/imgs/tourte.png');
	background-size: 100% 100%;
	margin-left: 10px;
	margin-top: 12px;
	margin-bottom: 47px;
}


.forward {
	color: #FFF;
    padding-top: 108px;
    padding-left: 336px;
}



}
  
