page-detail-recette {

  .en_tete {
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    position: relative;
  }

  ion-icon {
    font-size: 1.8em;
  }

  .titre{
    position: absolute;
    width: 141px;
    height: 42px;
    font-family: 'Arial-Bold';
    font-size: 1.3em;
    color: white;
    left: 70%;
    top: 80%;
  }

  .page {
    padding-left: 32px;
    padding-right: 32px;
  }

  h1 {
    font-family: "Gotham";
    font-size: 32px;
    color: #8BFA8C;
  }

  h2 {
    font-family: 'Roboto-Light';
    font-size: 18px;
    color: #5F5E64;
    padding-top: 15px;
    line-height: 30px;
  }

  p{
    font-family: 'Roboto-Light';
    font-size: 14px;
    line-height: 24px;
  }

  .reaction {
    background-color: #F9F9F9;
    height: 56px;
    width: 100%;
  }

  .card-md {
    margin: 0px;
    font-size: 2rem;
    -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
  }

  .row {
    padding-top: 8px;
  }

  .avis_div {
    position: relative;
  }
  .avis {
    height: 128px;
    width: 100%;
    background-color: #F9F9F9;
    margin-top: 12px;
  }

  .avis_suite {
    height: 85px;
    width: 100%;
    background-color: #F9F9F9;
    padding-left: 16px;
  }


  .avis_texte {
    position: absolute;
    padding-left: 20px;
  }

  h4 {
    font-family: 'Arial-Bold';
    color: #5F5E64;
  }

  h5 {
    font-size: 5px;
  }

  .input {
    height: 48px;
    width: 300px;
    padding-left: 0px;
    float: left;
  }

  /* Avoir les bordures sur les entrées*/
  .text-input-md
  {
    height: 48px;
    border: 1px solid #8BFA8C;
    height: 48px;
    width: 100%;
    padding: 0px;
    margin: 0px;

  }

  ion-item.item-input {
    padding-left: 0px;
    padding-top: 30px;
  }

  [placeholder] {
    font-family: 'Arial-Bold';
    font-size: 14px;
    color: #5F5E64;
  }

  .item-md.item-block .item-inner {
    border-bottom: 0px;
  }

  .fleche {
    padding-top: 42px;
  }

  .envoi {
    height: 109px;
    width: 100%;
  }

  .icon-md-green_button {
    margin-left: 15px;
  }

  [placeholder] {
    padding-left: 15px;
  }
}
