<ion-header>
  <ion-navbar>
      <div class="en_tete">
        <img src="assets/imgs/pate_pesto02.png"/>
        <div class="titre">RECETTE</div>
      </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="page">

    <h1> Pâtes au pesto </h1>

    <h2>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia </h2>

    <div class="commentaire">

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    </div>

    <div class="img">
      <img src='/assets/imgs/tomate_ass.png'/>
    </div>

    <div class="commentaire">

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    </div>

    <div class="img">
      <img src='/assets/imgs/concombre.png'/>
    </div>

    <div class="commentaire">

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    </div>

    <ion-card class="reaction">
      <ion-row>

        <button ion-button icon-left clear >
          <ion-icon name="heart" color="#8BFA8C"></ion-icon>
          <div>609</div>
        </button>

        <button ion-button icon-left clear  color="dark">
          <ion-icon name="md-chatboxes"></ion-icon>
          <div>120</div>
        </button>

        <button ion-button icon-left clear color="dark">
          <ion-icon name="md-bookmark"></ion-icon>
        </button>

      </ion-row>
    </ion-card>

    <div class="avis_div">
      <ion-card class="avis">
        <ion-item class="avis_suite">
          <ion-avatar item-start>
            <img src="/assets/imgs/avatar_iron.png">
          </ion-avatar>
          <h4>IRON MAN</h4>
          <h5>Génie, Playboy, Philantrope, Milliardaire...</h5>
        </ion-item>
        <div class="avis_texte">
          <p>Pas mal ! J'en parlerai à Thor</p>
        </div>
      </ion-card>
    </div>

    <div class="avis_div">
      <ion-card class="avis">
        <ion-item class="avis_suite">
          <ion-avatar item-start>
            <img src="/assets/imgs/avatar_girl.png">
          </ion-avatar>
          <h4>Croche Sarah</h4>
          <h5>Blagueuse par intermittence</h5>
        </ion-item>
        <div class="avis_texte">
          <p>Super recette, je conseille vivement !</p>
        </div>
      </ion-card>
    </div>

    <div class="envoi">
      <div class="input">
        <ion-item>
          <ion-input type="text" placeholder="Un avis ?" color="green_button"></ion-input>
        </ion-item>
      </div>
      <div class="fleche">
        <ion-icon name="md-arrow-forward" color="green_button"></ion-icon>
      </div>
    </div>

  </div>

</ion-content>
