<ion-header>
  <ion-navbar color="white">
    <ion-buttons left>
      <button ion-button menuToggle left>
      <ion-icon name="menu"></ion-icon>
    </button>
    </ion-buttons>
    <ion-title>MES CAPTEURS</ion-title>
    <ion-buttons right>
      <button (tap)="add_capteur()" class="add_captor">
        <ion-icon name="md-add"></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>