@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?bhylg9');
  src:  url('../assets/fonts/icomoon.eot?bhylg9#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?bhylg9') format('truetype'),
    url('../assets/fonts/icomoon.woff?bhylg9') format('woff'),
    url('../assets/fonts/icomoon.svg?bhylg9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin makeIcon($arg, $val) {
  .ai-#{$arg}:before ,
  .ion-ios-ai-#{$arg}:before ,
  .ion-ios-ai-#{$arg}-outline:before ,
  .ion-md-ai-#{$arg}:before ,
  .ion-md-ai-#{$arg}-outline:before  {
    content: $val;
  }
}