<ion-header> 
  	<ion-navbar>
  		<div class="titre">RECHERCHER UNE RECETTE</div>
	</ion-navbar>
</ion-header>

<ion-content>
  <div class="page">

	  <img src="assets/imgs/recherche_recette.png" />

  	<h2> VOUS AVEZ UNE IDEE DE RECETTE ? </h2>

	<ion-searchbar placeholder="Quelle recette recherchez-vous ?" [(ngModel)]="title">
    </ion-searchbar>

    <h2>VOUS VOULEZ DECOUVRIR UN NOUVEAU PLAT ?</h2>

    <button ion-button color="green_button" class="boutton" outline >Saison <ion-icon name="ios-arrow-down" class="arrow_down"></ion-icon></button>

    <button ion-button color="green_button" class="boutton2" outline >Ingrédients <ion-icon name="ios-arrow-down" class="arrow_down2"></ion-icon></button>

    <h3> Origine</h3>
    
    <div class="origine">
		<img src="assets/imgs/origine.png"/>
    </div>

    
    <h3> Type </h3>

    <div class="type_button">
	    <button ion-button color="primary" class="type"> Entrée </button>
	    <button ion-button class="type"> Plat </button>
	    <button ion-button class="type"> Dessert </button>
	</div>

    <h3> Prix </h3>

	<div class="type_button">
	  <button ion-button color="primary" class="type"> Economique </button>
	  <button ion-button class="type"> Normal </button>
	  <button ion-button class="type"> Gastronomique </button>
	</div>

   	<button ion-button class="type2" (tap)="details()"> RECHERCHER </button>

	</div>
</ion-content>
