page-search-recette {

.toolbar-md-white .bar-button-default-md {
	color: white;
}
.toolbar-ios-white .bar-button-default-ios {
	color: white;
}

.page{
	padding-right: 23px;
	padding-left: 23px;
	height: 100%;
	width:100%;
	padding-top: 2%;
	padding-bottom: 5%;
}

.page img{
	padding-bottom: 2%;
}

.titre{
	width: 100%;
	height: 100%;
	font-family: 'Arial-Bold';
	font-size: 1.2em;
	color: white;
	padding-left: 10%;
}

.back_button {
	margin-left: 10px;
	padding-top: 40px;
	color: white;
}

ion-icon {
	font-size: 2em;
}

.searchbar-md .searchbar-search-icon {
	left: 330px;
	background-image: url('../assets/imgs/search.png');
	top: 15px;
}

.searchbar-md .searchbar-input {
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
	-webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
	height: 48px;
	border: 1px solid #8BFA8C;
	margin-bottom: 35px;
}

.searchbar-md {
	padding: 0;
	margin-top: 22px;
}

h2 {
	font-family: 'Arial-Bold';
	font-size: 1em;
	color: #5F5E64;
	margin: auto;

}

.boutton{
	margin-top: 6%;
}

h3{
	font-family: 'Arial';
	font-size: 14px;
}

.button-outline-md-green_button {
	width: 100%;
	height: 48px;
	text-transform: none;
	font-family: 'Arial';
	font-size: 14px;
}

page-search-recette ion-icon{
	font-size: 1.2em;
}

.arrow_down{
	padding-left: 275px;
}

.arrow_down2{
	padding-left: 251px;
}

.origine {
	height: 90px;
	width: 100%;
	background-size: 100% 100%;
	padding-left: 4%;
}

.type {
	height: 40px;
	width: 30%;
	color: #8BFA8C;
	background-color: #F9F9F9;
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
	-webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
	border-radius: 4px;
	text-transform: none;
}

.type:focus {
	color: #ffffff;
	background-color: #8BFA8C;

}

.type_button {
	text-align: center;
}

.type2 {
	height: 48px;
	width: 100%;
	color: #FFFFFF;
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
	-webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
	border-radius: 4px;
	background-color: #5F5E64;
	margin-top: 6%;
}




}
  
