@import "../theme/icons";
@import "../pages/welcome/welcome";
@import "../pages/add-captor/add-captor";
@import "../pages/search-plante/search-plante";

//Background page Welcome
.pageWelcome {
	background: url('../assets/imgs/fond_connexion.png');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	position: absolute;
}

//Background page AddCaptor
.pageAddCaptor {
	background-image: url('../assets/imgs/fond_degrade3.png');
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
	position: absolute;
	padding-top : 25%;
}

.pageRecherche{
	background-image: url('../assets/imgs/couv.png');
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
	text-align: center;
	padding-left: 57px;
	padding-right: 57px;
}

//Page Recherche Plantes
.img1_search-plante{
	background-image: url('../assets/imgs/plante1.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 156px;
	margin-left: 10px;
	margin-top: 12px;
}

.img2_search-plante{
	height: 156px;
	background-image: url('../assets/imgs/plante2.png');
	background-size: 100% 100%;
	margin-left: 10px;
	margin-top: 12px;
}

.img3_search-plante{
	height: 156px;
	background-image: url('../assets/imgs/plante3.png');
	background-size: 100% 100%;
	margin-left: 10px;
	margin-top: 12px;
}

.div_search-plante{
	width: 70%;
	height: 124px;
	position: absolute;
	background-image: url('../assets/imgs/degrade_small.png');
	background-size: cover;
	float: left;
}

//Typographies

@font-face{
font-family: 'Gotham';
src: url('../assets/fonts/gotham.otf') format('truetype');
}

@font-face{
font-family: 'Roboto-Light';
src: url('../assets/fonts/roboto/Roboto-Light.ttf') format('truetype');
}

@font-face{
font-family: 'Arial-Bold';
src: url('../assets/fonts/arial_bold.ttf') format('truetype');
}

//Icone profil tranparent
ion-buttons button{
	background-color: transparent;
	font-size: 1.7em;
	padding-left: 3%;
	padding-top: 3%;
	color: #FFF;
}

//Centrer notre titre
ion-title{
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 90px 1px;
	width: 100%;
	height: 100%;
	text-align: center;
}


//Enlever ligne sous header
.header-md::after {
	width: 0px;
}
.header-ios::after {
	width: 0px;
}


//Couleur pour tabbar
.tabs-md .tabbar {
    background: #8BFA8C;
}
.tabs-ios .tabbar {
	background: #8BFA8C;
}

.toolbar-background-md{
	background: #8BFA8C;;
}
.toolbar-background-ios{
	background: #8BFA8C;;
}

//Couleur des boutons dans tabbar
.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
	color: white;
}
.tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
	color: white;
}

.tabs-md .tab-button-icon {
	color : rgba(255, 255, 255, 0.5);
}
.tabs-ios .tab-button-icon {
	color : rgba(255, 255, 255, 0.5);
}

.toolbar-md{
	min-height: 63px;
}
.toolbar-ios{
	min-height: 63px;
}

.toolbar-title-md {
	font-family: 'Arial-Bold';
	font-size: 1.2em;
	padding-top: 18px;
}
.toolbar-title-ios {
	font-family: 'Arial-Bold';
	font-size: 1.2em;
	padding-top: 18px;
}

.toolbar-md-white .toolbar-background-md{
	background: #8BFA8C;
}

.toolbar-md-white .toolbar-title-md{
	color: #FFF;
}

//Réduire taille de l'écran noir du loader
ion-backdrop{
	height: 0%;
	width: 0%;
}

ion-buttons button {
	background-color: transparent;
	font-size: 1.7em;
	color: #FFF;
	padding-left: 3%;
	padding-top: 3%;
}