<div class="pageWelcome">

		<div class="div_logo" *ngIf="logo">
			<img src="assets/imgs/logo_blanc.png"/>
		</div>


	<ion-footer>
		<div class="contenu" *ngIf="clicked">
			<ion-list>
				<ion-item class="mail">
					<ion-label color="white" floating>IDENTIFIANT</ion-label>
					<ion-input type="email" [(ngModel)]="login" (tap)="logoOff()" value="admin"></ion-input>
				</ion-item>
				<ion-item class="mdp">
					<ion-label class="mdp_lab" color="white" floating>MOT DE PASSE</ion-label>
					<ion-input type="password" [(ngModel)]="password"></ion-input>
				</ion-item>
				<div class="button">
					<button id="connexionButton" ion-button color="green_button" (tap)="connexion()">CONNEXION</button>
				</div>
			</ion-list>
		</div>
	</ion-footer>

	<div class="bienvenue" *ngIf="!clicked">
		<h1> BIENVENUE !</h1>
	</div>
</div>
