page-welcome {

/* Ligne sous les entrées */
.list-md .item-block .item-inner, .list-ios .item-block .item-inner{
	margin: 0 40px 0;
	padding-bottom: 2%;
	color: #8BFA8C;
	border-bottom: 2px solid white;
}

.footer-md::before{
	height: 0;
}

/* Enlever lignes ios*/
.list-ios > .item-block:first-child{
border: 0;
}

.item-md, .content-md, .item-ios, .content-ios  {
	background-color: rgba(0, 0, 0, 0);
	padding-left: 0;
}

/* Avoir les bordures sur les entrées*/
//.text-input-md, .text-input-ios
//{
//    height: 48px;
//    border: 0.5px solid white;
//    opacity: 0.5;
//}




.div_logo {
	position: relative;
	width: 100%;
	padding-top: 20%;
}

.div_logo img{
	margin-left: 32%;
	position: relative;
}

.contenu {
	height:60%;
	width: 100%;
	margin-top: 10%;
}

.list-md, .list-ios{
	height: 60%;
}

.button {
	width: 100%;
	height: 50%;
	margin-top: 15%;
}

ion-label {
	font-family: 'Arial-Bold';
	font-size: 14px;
	padding-top: 20px;
}

text-input-ios{
	font-family: 'Arial-Bold';
	font-size: 14px;
	padding-top: 20px;
}

.mdp_lab {
	padding-top: 30px;
}

#connexionButton {
	color : white;;
	height: 48px;
	width: 80%;
	border-radius: 4px;
}

.label-md[floating], .label-ios[floating] {
	transform: translate3d(4px, 30px, 50px);
}

.item-input-has-focus .label-md[floating], .input-has-focus .label-md[floating], .item-input-has-focus .label-ios[floating], .input-has-focus .label-ios[floating] {
	transform: translate3d(0, 0, 0)
		scale(1);
	}

.text-input-placeholder-color{
	color : white;
}


[placeholder] {
  font-family: 'Arial-Bold';
  font-size: 14px;
  color: #FFF;
  opacity:1;
  padding-left: 15px;
}

.item-label-floating .text-input-md,.item-label-floating .text-input-ios {
	margin-bottom: 5px;
}


.bienvenue{
	color: #FFF;
	font-family: 'Arial-Bold';
	font-size: 1em;
	text-align: center;
	height: 100%;
	width: 100%;
	padding-top: 30%;
}

// Enlever couleur background loader
in-loading.my-loading-class {
	.loading-wrapper {
		background: transparent;
		box-shadow: none;
	}
}

}




