page-description-basilic {

.en_tete {
	background-image: url(/assets/imgs/basilic_des.png);
	background-size: 100% 100%;
	height: 200px;
	width: 100%;
	position: relative;
}

.imgs {
	background-image: url(/assets/imgs/plan_paprika.png);
	background-size: cover;
	height: 170px;
	width: 100%;
	margin: auto;
}

.back_button {
	margin-left: 10px;
	padding-top: 40px;
	color: white;
}

ion-icon {
	font-size: 2em;
}

.page {
	padding-left: 40px;
	padding-right: 40px;
}

h1 {
	font-family: 'Gotham';
	font-size: 32px;
	color: #79D756;
}

p{
	font-family:'Arial';
	font-size: 14px;
	line-height: 26px;
	color: #5F5E64;
}

.recherche1 {
	width: 100%;
	height: 177px;
	padding-top: 10px;
	margin-bottom: 44px;
	padding-left: 17px;
	padding-right: 17px;
}

.texte{
	width: 220px;
	height: 74px;
	padding-top: 28px;
	padding-left: 33px;
}

.div {
	width: 70%;
	height: 124px;
	position: absolute;
	background-image: url(/assets/imgs/degrade_small.png);
	background-size: cover;
	float: left;
}

h5 {
	font-family: 'Arial-Bold';
	font-size: 18px;
	color: #FFF;
	margin-top: 0rem;
    margin-bottom: 0rem;
}

.des {
	font-family: 'Arial';
	font-size: 10px;
	color: #FFF;
	line-height: 15px;
}

.img1{
	height: 156px;
	background-image: url(/assets/imgs/pate_pesto02.png);
	background-size: 100% 100%;
	margin-left: 10px;
	margin-top: 12px;
}


.forward {
	color: #FFF;
    padding-top: 104px;
    padding-left: 338px;
}

}
