<ion-header> 
  	<div class="en_tete">
  		<div class="back_button">
  			<ion-icon name="arrow-back" (tap)="go_back()"></ion-icon>
		</div>
  	</div>
</ion-header>


<ion-content>

	<div class="page">

		<h1> Basilic </h1>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor #incididunt ero labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco poriti laboris nisi ut aliquip ex ea commodo consequat.</p>

		<div class="imgs">
		</div>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor #incididunt ero labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco poriti laboris nisi ut aliquip ex ea commodo consequat.</p>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor #incididunt ero labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco poriti laboris nisi ut aliquip ex ea commodo consequat.</p>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor #incididunt ero labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco poriti laboris nisi ut aliquip ex ea commodo consequat.</p>

	</div>

		<div class="recherche1">
     		<div class="div">
       			<div class="texte">
          			<h5>Pâtes au pesto</h5>
          			<p class="des">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor #incididunt ero labore et dolore magna aliqua.</p>
       			 </div>
     		 </div>
      		<div class="img1">
        		<ion-icon name="arrow-forward" class="forward"></ion-icon>
     		 </div> 
   		 </div>

	

</ion-content>
