<ion-header>
	<ion-navbar color="white">
		<ion-title>RECHERCHE</ion-title>
		<ion-buttons left>
			<button>
				<ion-icon ios="ios-person" md="md-person" (click)="profil()"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>

	<div class="pageRecherche">

		<div class="choix">

			<div class="plante">
				<button id="ButtonPlante" ion-button color="green_button" (tap)="recherche_plante()" >PLANTES</button>
			</div>

			<div class="recette">
				<button id="ButtonRecette" ion-button (tap)="recherche_recette()">RECETTES </button>
			</div>

		</div>

	</div>

</ion-content>
