page-search {

ion-buttons button{
	padding-left: 44%;
	padding-top: 42%;
}

.choix {
	width: 100%;
	height: 150px;
	padding-top: 230px;
}

#ButtonPlante {
	color: white;
	height: 48px;
	width: 100%;
	border-radius: 4px;
	font-family: "Arial-Bold";
	font-size: 1.1em;
}

#ButtonRecette {
	margin-top: 10px;
	color: #8BFA8C;
	height: 48px;
	width: 100%;
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0);
	border: 2px #8BFA8C solid;
	font-family: "Arial-Bold";
	font-size: 1.1em;
}

button-md {
	color: #fff;
}

}