<ion-header class="titre" *ngFor="let plante of listPlante">

  <ion-navbar>
    <ion-title>{{plante.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content *ngFor="let plante of listPlante">
    {{plante.content}}


    {{plante.moisture}}

    {{plante.light}}

    {{plante.temperature}}

</ion-content>
