<ion-header>
  <ion-navbar>
    <ion-title>{{ peripheral.name || 'Device' }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="padding">

  <ion-card>
    <ion-card-header>
      Data Capteur
    </ion-card-header>
    <ion-card-content>
      <pre>Temperature : {{data[0]}}</pre>
      <pre>Humidité : {{data[1]}}</pre>
      <pre>Lumière : {{data[2]}}</pre>
      <pre>Conductivité : {{data[3]}}</pre>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      {{ peripheral.name || 'Unnamed' }}
    </ion-card-header>
    <ion-card-content>
      {{ peripheral.id }}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Services
    </ion-card-header>
    <ion-list>
      <ion-item *ngFor="let service of peripheral.services">
        {{service}}
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Details
    </ion-card-header>
    <ion-card-content>
      <pre>{{peripheral | json }}</pre>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <p>{{ statusMessage }}</p>
  </ion-toolbar>
</ion-footer>

