page-search-plante {
	
.toolbar-md-white .bar-button-default-md {
	color: white;
}


.back-button.show-back-button{
	color: #000;
}	

.page{
	padding-right: 19px;
	padding-left: 19px;
	height: 100%;
	width:100%;
	padding-bottom: 37px;
}

.en_tete {
	height: 100%;
	width: 100%;
}

.image {
	background-size: cover;
	height: auto;
	width: 100%;
	position: relative;
}

.titre{
	width: 100%;
	height: auto;
	font-family: 'Arial-Bold';
	padding-left: 10%;
	font-size: 1.2em;
	color: white;
}


ion-icon {
	font-size: 2em;
}

.searchbar-md .searchbar-search-icon {
	left: 340px;
	background-image: url('../assets/imgs/search.png');
	top: 15px;
}

.searchbar-md .searchbar-input {
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
	-webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
	height: 48px;
	border: 1px solid #8BFA8C;
}

.searchbar-md {
	padding: 0;
	margin-top: 22px;
}

.recherche1 {
	width: 100%;
	height: 177px;
	padding-top: 10px;
}

.recherche2 {
	width: 100%;
	height: 177px;
	padding-top: 20px;
}

.recherche3 {
	width: 100%;
	height: 177px;
	padding-top: 30px;
}

.recherche4 {
	width: 100%;
	height: 177px;
	padding-top: 40px;
	margin-bottom: 69px;
}

.texte{
	width: 220px;
	height: 74px;
	padding-top: 28px;
	padding-left: 33px;
}


h5 {
	font-family: 'Arial-Bold';
	font-size: 18px;
	color: #FFF;
	margin-top: 0rem;
    margin-bottom: 0rem;
}

p {
	font-family: 'Arial';
	font-size: 10px;
	color: #FFF;
	line-height: 15px;
}



.forward {
	color: #FFF;
    padding-top: 108px;
    padding-left: 336px;
}



}
  