<ion-header>
  <ion-navbar>
    <div class="titre">RECHERCHER UNE PLANTE</div>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="page">

    <ion-searchbar placeholder="Basilic"></ion-searchbar>


    <div class="recherche1">
      <div class="div_search-plante">
        <div class="texte">
          <h5>Basilic</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor #incididunt ero labore et dolore magna aliqua.</p>
        </div>
      </div>
      <div class="img1_search-plante">
        <ion-icon name="arrow-forward" class="forward"></ion-icon>
      </div> 
    </div>

     <div class="recherche2">
      <div class="div_search-plante">
        <div class="texte">
          <h5>Thym</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor #incididunt ero labore et dolore magna aliqua.</p>
        </div>
      </div>
      <div class="img2_search-plante">
        <ion-icon name="arrow-forward" class="forward"></ion-icon>
      </div> 
    </div>

    <div class="recherche3">
      <div class="div_search-plante">
        <div class="texte">
          <h5>Coriandre</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor #incididunt ero labore et dolore magna aliqua.</p>
        </div>
      </div>
      <div class="img3_search-plante">
        <ion-icon name="arrow-forward" class="forward"></ion-icon>
      </div> 
    </div>

    <div class="recherche4">
      <div class="div_search-plante">
        <div class="texte">
          <h5>Menthe</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor #incididunt ero labore et dolore magna aliqua.</p>
        </div>
      </div>
      <div class="img1_search-plante">
        <ion-icon name="arrow-forward" class="forward"></ion-icon>
      </div> 
    </div>

	</div>
</ion-content>
