<ion-header>
  <ion-navbar color="white">
    <ion-title>MON CAPTEUR</ion-title>

    <ion-buttons left>
      <button>
        <ion-icon ios="ios-person" md="md-person" (click)="profil()"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button (tap)="refresh()" class="refresh">
        <ion-icon ios="ios-refresh" md="md-refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <div class="etat_sante">
    <ion-icon [ngClass]="this.data.moist" name="ios-water"></ion-icon>
    <ion-icon [ngClass]="this.data.light" name="ios-sunny"></ion-icon>
    <ion-icon [ngClass]="this.data.temp" name="ios-thermometer"></ion-icon>
  </div>

  <div class="taches">

    <p> MES TACHES </p>

    <div class="check">
      <ion-item>
        <ion-label>Arroser 20ml (équivalent d'un verre d'eau)</ion-label>
        <ion-checkbox color="primary" checked="false" (ionChange)="updateCucumber()"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Mettre la box au soleil</ion-label>
        <ion-checkbox color="primary" checked="false" ></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Tailler le thym</ion-label>
        <ion-checkbox color="primary" checked="false" ></ion-checkbox>
      </ion-item>


      <ion-item>
        <ion-label>Ajouter du fertilisant</ion-label>
        <ion-checkbox color="primary" checked="false"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Augmenter la température ambiante</ion-label>
        <ion-checkbox color="primary" checked="false" ></ion-checkbox>
      </ion-item>
    </div>

  </div>

  <div class="plante">

    <p> MES PLANTES </p>

    <div class="bloc_plante">
      <div class="aucune_plante" *ngIf="plante_vide1">
        <img src="assets/imgs/plante_vide.png" (tap)="choixPlante1()"/>
      </div>

      <div class="plantes" *ngIf="!plante_vide1">
        <div *ngFor="let plante of listPlante" class="showPlant {{plante.name}}">
          <div class="nom" (tap)="detailPlante()">
            {{plante.name}}
          </div>
        </div>
      </div>
    </div>

    <div class="bloc_plante">
      <div class="aucune_plante" *ngIf="plante_vide2">
        <img src="assets/imgs/plante_vide.png" (tap)="choixPlante2()"/>
      </div>

      <div class="plantes" *ngIf="!plante_vide2">
        <div *ngFor="let plante of listPlante2" class="showPlant {{plante.name}}">
          <div class="nom">
            {{plante.name}}
          </div>
        </div>
      </div>
    </div>


    <div class="bloc_plante">
      <div class="aucune_plante" *ngIf="plante_vide3">
        <img src="assets/imgs/plante_vide.png" (tap)="choixPlante3()"/>
      </div>

      <div class="plantes" *ngIf="!plante_vide3">
        <div *ngFor="let plante of listPlante3" class="showPlant {{plante.name}}">
          <div class="nom">
            {{plante.name}}
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="graph">
    <img src="assets/imgs/graph_box.png"/>
  </div>

</ion-content>
