page-captor {

	ion-buttons button {
		padding-left: 44%;
		padding-top: 42%;
	}

	.refresh {
		font-size: 1.7em;
		padding-top: 16px;
		padding-right: 15px;
	}

	.etat_sante {
		height: 20%;
		width: 100%;
	}

	.etat_sante ion-icon {
		font-size: 4em;
		padding-left: 18%;
		padding-top: 4%;
	}

	p {
		color: #8BFA8C;
		text-align: center;
		font-family: 'Arial-Bold';
		font-size: 14px;
	}

	ion-label {
		font-family: 'Arial';
		font-size: 13px;
		color: #5F5E64;
	}

	.aucune_plante {
		height: 15%;
		width: 100%;
	}

	.aucune_plante img {
		height: 130px;
		width: 95%;
		padding-left: 5%;
		padding-bottom: 4%;
		position: relative;
	}

	.default {
		color: #8BFA8C !important;
	}

	.warning {
		color: #fac328 !important;
	}

	.danger {
		color: #fa352d !important;
	}
		.bloc_plante {
			height: 20%;
			width: 100%;
		}

		.taches {
			padding-bottom: 8%;
		}

		.nom {
			height: 100%;
			width: 100%;
			display: -webkit-flex;
			display: flex;
			-webkit-flex-direction: column;
			flex-direction: column;
			-webkit-align-items: center;
			align-items: center;
			-webkit-justify-content: center;
			justify-content: center;
			font-family: 'Arial-Bold';
			font-size: 2.5em;
			color: #FFF;
			right: 0;
		}

		.graph {
			padding-top: 6%;
			padding-left: 5%;
			padding-bottom: 5%;
		}

		//Page capteur
		.showPlant {
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
			height: 130px;
			margin: 2.5% 5%;
			position: relative;
		}

		.showPlant Basilic {
			background-image: url('../assets/imgs/Basilic.png');
		}

		.showPlant Thym {
			background-image: url('../assets/imgs/Thym.png');
		}

		.showPlant Coriandre {
			background-image: url('../assets/imgs/Coriandre.png');
		}
	}

