page-tuto {

.page {
	height: 100%;
	width: 100%;
}

.img {
	height: 100%;
	width: 100%;
}


.img4 {
	height: 80%;
	width: 80%;
	margin: auto;
	padding-top: 143px;
}


.slide4 {
	height: 42%;
	width: 35%;
	margin: auto;
	background-repeat: no-repeat;
}

.slide-zoom {
	height: 100%;
}

.button-clear-md, .button-clear-ios{
	background-color: #FAFAFA;
	height: 40px;
	width: 30%;
	border-radius: 10px;
	font-family: 'Gotham';
	color: #5F5E64;
	font-size: 0.9em;
	margin-left: 65%;
	margin-top: 4%;
}

button ion-icon {
	padding-left: 12%;
	color: #8BFA8C;
	font-size: 1.5em;
	opacity: 1;
}

h2 {
	font-family: 'Gotham';
	font-size: 30px;
	color: #43464D;
}

.swiper-pagination-bullet-active {
	background: #5F5E64;
}

}



