<ion-header>
 <button ion-button primary clear (tap)="skip()"> PASSER
	 <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
 </button>
</ion-header>


<ion-content >

	<ion-slides pager (ionSlideDidChange)="slideChanged()">

	 	<ion-slide >
	 		<div class="page">
		  		<div class="img">
					<img src="assets/imgs/slide1_tuto.png"/>
			  	</div>
			</div>
	    </ion-slide>

	    <ion-slide >
	 		<div class="page">
		  		<div class="img">
					<img src="assets/imgs/slide2_tuto.png"/>
			  	</div>
			</div>
	    </ion-slide>

	    <ion-slide >
	 		<div class="page">

						<img src="assets/imgs/slide3_tuto.png"/>

			</div>
	    </ion-slide>

	    <ion-slide >
	 		<div class="page">
		  		<div class="img4">
		  			<div class="slide4">
						<img src="assets/imgs/logo.png" />
		  			</div>
			  	</div>
			    <h2>Bienvenue sur Eywa !</h2>
			</div>
	    </ion-slide>

	</ion-slides>

</ion-content>
